# Template file for .env file.
# Copy this file and rename it to .env and fill as needed.
DB_NAME=r5blog_development
DB_USERNAME=root
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=3306

HOST=localhost
PORT=3000

SMTP_HOST=localhost
SMTP_PORT=1025

APP_LOCALE=ro
APP_THEME=theme_1

SASS_LOAD_PATHS=/bower_components/foundation-sites/scss
ASSETS_PATHS=/bower_components/foundation-sites/dist

SECRET_KEY_BASE=<secret_key_base>

GOOGLE_CLIENT_ID=<client_id>
GOOGLE_CLIENT_SECRET=<client_secret>

# if this is present (not matter the value 0 or 1) Rails will take care of serving static files
# in production we should configure Apache/NGINX to serve these and remove the RAILS_SERVE_STATIC_FILES var altogether
RAILS_SERVE_STATIC_FILES=1