# Template file for .env file.
# Copy this file and rename it to .env and fill as needed.
DB_NAME=r5blog_development
DB_USERNAME=root
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=3306

HOST=localhost
PORT=3000

SMTP_HOST=localhost
SMTP_PORT=1025

APP_LOCALE=ro

SECRET_KEY_BASE=310b2f2b78ba70a574dea80c8881e87fb62494a852d629898be69343b76b5e9ead0a25f2e24b7fa3efbc89dc1f8793f4c166f3714e677fc7b0344bcafef7b9e2

# if this is present (not matter the value 0 or 1) Rails will take care of serving static files
# in production we should configure Apache/NGINX to serve these and remove the RAILS_SERVE_STATIC_FILES var altogether
RAILS_SERVE_STATIC_FILES=1