<h1><%= resource_view_editing_message resource_instance: @resource %></h1>

<%= render 'form', resource: @resource %>

<%= link_to show_message, admin_article_path(@resource) %> |
<%= link_to back_message, admin_articles_path %>
