<h4><%= resource_view_editing_message resource_instance: @resource %></h4>

<%= render 'form', resource: @resource %>

<%= link_to show_message, admin_page_path(@resource) %> |
<%= link_to back_message, admin_pages_path %>
