<% content_for :title do %>
    <%= resource_view_new_message resource_instance: @resource %>
<% end %>

<h1><%= resource_view_new_message resource_instance: @resource %></h1>

<%= render 'form', resource: @resource %>

<%= link_to back_message, admin_pages_path %>
