
<div id="admin-toggle">
  <div class="row">
    <div class="column">
      <% if current_user && current_user.admin? %>
          <% if controller.is_a? Admin::AdminController  %>
              <%= link_to I18n.t('view_site').camelize, root_path %> | 
              <%= link_to I18n.t('administration').camelize, admin_root_path %>
          <% else %>
              <%= link_to I18n.t('administration').camelize, admin_root_path %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>