<div class="row">
  <div class="column">
    <% if notice %>
        <div class="callout small success" data-closable>
          <h5><%= notice %></h5>
          <button class="close-button" type="button" data-close>
            <i class="fi-x-circle"></i>
          </button>
        </div>
    <% end %>
    <% if alert %>
        <div class="callout small alert" data-closable>
          <h5><%= alert %></h5>
          <button class="close-button" type="button" data-close>
            <i class="fi-x-circle"></i>
          </button>
        </div>
    <% end %>
  </div>
</div>