<div id="brand_and_tag_line">
  <div class="row">
    <div class="medium-4 columns">
      <%= Setting.brand_name %>
    </div>
    <div class="medium-8 columns">
      <%= Setting.tag_line %>
    </div>
  </div>
</div>