
<h4 class="uk-panel-title"><%= I18n.t('administration').camelize %></h4>

<ul class="uk-nav uk-nav-side uk-margin-left-remove">
  <li class="<%= 'uk-active' if controller.is_a?(Admin::PagesController) %>"><a href="<%= admin_pages_path %>"><%= Page.model_name.human(count: 2) %></a></li>
  <li><a href="#">other</a></li>
</ul>


