
// colors

$transparent-black: rgba(0, 0, 0, 0.9);
$transparent-black-2: rgba(0, 0, 0, 0.95);


// backgrounds

$titlebar-background: $transparent-black-2;

$dropdownmenu-background: $transparent-black;
$dropdownmenu-border: 1px solid transparent;

[data-accordion-menu] {
  background-color: $transparent-black ;
}

#large-main-menu  {
  background-color: $transparent-black;
}

// sizes

.menu > li > img {
  height: 38px;
  width: 38px;
}
.title-bar img {
  height: 41px;
  width: 41px;
  margin-top: -10px;
  margin-bottom: -8px;
}

//@import 'debug';

@import 'foundation';

@include foundation-everything;






