
//@import 'debug';

@import 'foundation-sites/util/util';
@import 'foundation-sites/foundation';

// ================= colors

$transparent-black: rgba(0, 0, 0, 0.9);
$transparent-black-2: rgba(0, 0, 0, 0.95);

// ================ helpers

.alert-color-text {
  color: $alert-color !important;
}

.zone-wrapper {
  margin-bottom: 1rem;
}

@for $i from 1 through 25 {
  .v-space-#{$i} { height: #{$i}px; }
}


// ==================== main menu

$menu-item-padding: 0.8rem 1.1rem;

$titlebar-background: $transparent-black-2;

$dropdownmenu-background: $transparent-black;
$dropdownmenu-border: 1px solid black;

$accordionmenu-arrow-color: white;
$dropdownmenu-arrow-color: white;

$main-menu-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .7);

[data-accordion-menu] {
  background-color: $transparent-black ;
}

.no-js .title-bar, .no-js [data-accordion-menu], .no-js [data-dropdown-menu] {
  display: none;
}

#large-main-menu > .row > .columns {
  padding-left: 0px;
}

#large-main-menu  {
  //border-top: 1px solid #c1c1c1;
  background-color: $transparent-black;
  //box-shadow: $main-menu-shadow;
  z-index: 100;
}
.title-bar {
  //box-shadow: $main-menu-shadow;
}

.title-bar a,
.menu li > a{
  color: white;
}

.menu li > a:hover{
  color: $primary-color;
}

.menu li.active > a{
  color: $primary-color;
}

.menu li > img {
  height: 40px;
  width: 40px;
  margin-top: 1px;
}

.title-bar img {
  height: 39px;
  width: 39px;
  margin-top: -10px;
  margin-bottom: -9px;
}

// =================== callout

.callout h1, .callout h2, .callout h3, .callout h4, .callout h5, .callout h6 {
  margin-bottom: 0px;
}

.callout .close-button {
  font-size: 1em;
  top: -17px;
  right: -3px;
}

// ================== code editor zone

.code-editor-container .tabs-panel {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

// ================== forms zone

.tabs .tabs-title > a {
  padding: 0.75rem 1rem;
}

.field_with_errors label > span {
  font-weight: bold;
  color: $alert-color;
}

.input-error-description {
  $margin-top: ($form-spacing * 0.5) * -1;
  margin-top: $margin-top;
  margin-bottom: 0.5rem;
  font-size: $helptext-font-size;
  font-style: $helptext-font-style;
  color: $alert-color;
}

// ======================== show details zone

.show-details-key {
  font-style: italic;
  color: gray;
}

// ======================== header

#site-header {
  background-color: lightgray;
}

// ======================== footer

#site-footer {
  background-color: lightgray;
}

@include foundation-everything;





