
<h1><%= @resource.name %></h1>

<%= page_categories_menu_html_foundation_6(
        arr: (@resource.pages + @resource.children),
        options: {
            wrapper_ul_class: '',
            wrapper_ul_data: '',
            inner_ul_class: '',
            inner_ul_data: ''
        }).html_safe %>





