
<h1><%= @resource.name %></h1>

<% @resource.pages.each do |page| %>
    <div>
      <h3><%= page.name %></h3>
      <div><%= page.excerpt.html_safe %></div>
      <p><%= link_to I18n.t('read_more'), page_path(page) %></p>
    </div>
<% end %>





